name: DevContainer CI/CD

on:
  push:
    paths:
      - '.github/.devcontainer/**'
    branches:
      - main
  pull_request:
    paths:
      - '.github/.devcontainer/**'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Dev Container
        uses: devcontainers/ci@v0.3
        with:
          imageName: ghcr.io/sonikro/terraform-oracle-tf2-server-devcontainer
          cacheFrom: ghcr.io/sonikro/terraform-oracle-tf2-server-devcontainer
          subFolder: .github
          push: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'always' || 'never' }}
          runCmd: |
            terraform --version
