name: Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  validate_terraform:
    name: Validate Terraform
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Validate modules/iam
        shell: sh
        working-directory: modules/iam
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate

      - name: Validate modules/network
        shell: sh
        working-directory: modules/network
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate

      - name: Validate modules/tf2-server
        shell: sh
        working-directory: modules/tf2-server
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate

      - name: Validate modules/vault
        shell: sh
        working-directory: modules/vault
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate

      - name: Validate examples/simple
        shell: sh
        working-directory: examples/simple
        run: |
          terraform init -backend=false
          terraform fmt -check
          terraform validate

  release:
    name: Release
    runs-on: ubuntu-latest
    needs:
      - validate_terraform
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
